<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnLx6B-06AXu_Kyis2KxqAd_sVa-xtC0o</string>
	<key>GCM_SENDER_ID</key>
	<string>656478835360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyspotDiscover</string>
	<key>PROJECT_ID</key>
	<string>studyspotdiscover</string>
	<key>STORAGE_BUCKET</key>
	<string>studyspotdiscover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656478835360:ios:f028819249ab0dfa5bafc5</string>
</dict>
</plist>